 
<header class="page-header">
  <div class="header-container">
    <nav class="navigation">
      <a class="logo link" href="#"> <p class="logo">SIMPLY CHOCOLATE</p></a>
      <svg width="24" height="24">
        <use href="./images/header.svg#logo-icon"></use>
      </svg>
      <ul class="nav-menu list">
        <li class="item"><a class="link" href="#">Home</a></li>
        <li class="item">
          <a class="link" href="#howitsmade__id">How it's made?</a>
        </li>
        <li class="item">
          <a class="link" href="#ourproducts__id">Our Products</a>
        </li>
        <li class="item">
          <a class="link" href="#top_sellers">Top sellers</a>
        </li>
        <li class="item">
          <a class="link" href="#chocolate-id">Chocolate is loved</a>
        </li>
        <li class="item">
          <button class="login-btn link" onclick="openLoginModal()">
            <svg width="24" height="24" class="login-icon">
              <use href="./images/header.svg#user-icon"></use>
            </svg>
            Login
          </button>
        </li>
      </ul>
    <!-- </nav>
  <div id="loginModal" class="modal">
      <div class="modal-content">
        <span class="close-btn">&times;</span>
        <h2>Login to Simply Chocolate</h2>
        <form id="loginForm">
          <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" id="email" required>
          </div>
          <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" id="password" required>
          </div>
          <div class="form-group">
            <label class="checkbox-container">
              <input type="checkbox" id="remember">
              Remember me
            </label>
          </div>
          <button type="submit" class="submit-btn">Sign In</button>
          <div class="form-footer">
            <a href="#" class="forgot-password">Forgot Password?</a>
            <a href="#" class="signup-link">Sign Up</a>
          </div>
        </form>
      </div>
    </div> -->

    <ul class="social-contacts list">
      <li class="item">
        <a
          href="https://www.instagram.com"
          target="_blank"
          rel="noreferrer noopener"
        >
          <svg width="24" height="24" class="social-contact-svg">
            <use href="./images/footer.svg#instagram"></use>
          </svg>
        </a>
      </li>
      <li class="item">
        <a
          href="https://www.twitter.com"
          target="_blank"
          rel="noreferrer noopener"
        >
          <svg width="24" height="24" class="social-contact-svg">
            <use href="./images/footer.svg#twitter"></use>
          </svg>
        </a>
      </li>
    </ul>

    <svg class="menu-icon menu-toggle js-open-menu" width="32" height="32">
      <use href="./images/header.svg#hamburger-open-icon"></use>
    </svg>

    <!-- Hamburger Menu Close Icon and Navigations-->
    <div class="menu-container js-menu-container" id="mobile-menu">
      <!-- Hamburger Menu Close Icon-->
      <svg width="14" height="14" class="menu-toggle js-close-menu">
        <use href="./images/header.svg#hamburger-close-icon"></use>
      </svg>

      <ul class="mobile-nav-menu">
        <li class="item">
          <a class="hamburger-link" href="#">Home</a>
        </li>
        <li class="item">
          <a class="hamburger-link" href="#howitsmade__id">How it's made?</a>
        </li>
        <li class="item">
          <a class="hamburger-link" href="#ourproducts__id">Our Products</a>
        </li>
        <li class="item">
          <a class="hamburger-link" href="#top_sellers">Top sellers</a>
        </li>
        <li class="item">
          <a class="hamburger-link" href="#chocolate-id">Chocolate is loved</a>
        </li>
      </ul>

      <ul class="mobile-social">
        <li class="item">
          <a
            href="https://www.instagram.com"
            target="_blank"
            rel="noreferrer noopener"
            ><svg width="24" height="24" class="mobile-social-svg">
              <use href="./images/footer.svg#instagram"></use>
            </svg>
          </a>
        </li>
        <li class="item">
          <a
            href="https://www.twitter.com"
            target="_blank"
            rel="noreferrer noopener"
            ><svg width="24" height="24" class="mobile-social-svg">
              <use href="./images/footer.svg#twitter"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>
