<div class="landing-page">
    <header class="landing-header">
        <div class="logo"><h2 class="logo2">
            Simply Chocolate
            <svg width="24" height="24">
                <use href="./images/header.svg#logo-icon"></use>
            </svg>
        </h2>
        
        </div>
        <form id="loginForm" class="login-form">
            <div class="form-row">
                <input type="email" placeholder="Email" required />
                <input type="password" placeholder="Password" required />
                <button
                        type="submit">
                        <p cass="sign">
                        Sign In</p>
                    </button>
                </div>
            <div class="form-options">
                <label>
                    <input type="checkbox"> Keep me signed in
                </label>
                <a href="#" class="forgot-password">Forgot password?</a>
            </div>
        </form>
    </header>
    <section class="hero">
        <h1>The Network for Chocolate Lovers</h1>
        <p>Join us and indulge in the finest chocolates worldwide!</p>
        <p>We've freshly made it for you!!!</p>
        <button class="signup-link" data-signup-open>Sign Up Here!!!</button>
    </section>
</div>